<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sonam Blog</a></h1>
        </div>

        <div>
            <p>published: 8.02.2017, 19:50</p>
            <h2><a href="">My first post</a></h2>
            <p>My self sonam kabra jagetia.
            i want to become a Django developer. i was learing python Django last few days. thank you for Django girls tutorial.
            </p>
        </div>

        <div>
            <p>published: 8.02.2017, 20:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>